/ChangeTexture.cs.meta
/DialogueManager.cs.meta
/ElegyController.cs.meta
/KeyboardMoveCharacter.cs.meta
/MouseLookHor.cs.meta
/MouseLookVert.cs.meta
/ObjectMover.cs.meta
/Teleport.cs.meta
/TriggerToggle.cs.meta
/Word.cs.meta
/ocean move.cs.meta